@use 'mixins';

.button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  transition: all 0.3s ease;

  &.success {
    background-color: var(--button-primary);
    color: white;

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }
  

  &.danger {
    background-color: var(--button-danger);
    color: white;
    
    &:hover {
      background-color: var(--button-danger-hover);
    }
  }

}