.form-column {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input-group-column {
    display: flex;
    flex-direction: column;
  }

  .input-group-row {
    display: flex;
    flex-direction: row;
  }
}