@use 'mixins';

.card {
  @include mixins.rounded;
  transition: all 0.3s ease;
  
  .card-header {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 5px 10px;
    user-select: none;
  }

  .card-body {
    padding: 0px 10px;
  }
}