

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  margin-bottom: 10px;

  .col {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .grid-2 {
      grid-template-columns: 1fr;
  }
}